.breadcrumbs {
  &__item {
    @include list-reset;
    a {
      font-family: "PT Sans", "Arial", sans-serif;
      line-height: 18px;
      font-weight: normal;
      color: $grey-light;
    }
  }
}