.catalog {
  &__blocks {
    display: flex;
  }

  &__leftblock {
    min-width: 199px;
  }

  &__centerblock {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    width: 100%;
  }

  &__price a {
    box-sizing: border-box;
    display: block;
    margin-left: 42px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include list-reset;
    margin-bottom: 98px;

    &-item {
      margin-bottom: 8px;
    }
  }

  &__list-item a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18.5px;
    line-height: 19px;
    font-weight: normal;
    color: $grey-light;

    &:hover {
      text-decoration: underline;
    }
  }

  &__price-text {
    margin: 0;
    margin-left: 13px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 20px;
    font-weight: bold;
    color: #444444;
    letter-spacing: 0.5px;
  }

  &__products-list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__pagination-list {
    @include list-reset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    align-items: baseline;
    margin-bottom: 61px;
    max-width: 300px;
    min-width: 176px;
  }

  &__pagination-item {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;

    &--active {
      transform: scale(1.3);
    }

    a {
      color: $grey-light;

      &[href]:hover {
        color: $grey-dark;
      }
    }

    &--active {
      a {
        color: $black;
      }
    }
  }

  &__products-item {
    padding: 20px;
    padding-bottom: 9px;
    width: 210px;
    background-color: $header-color;
    margin-right: 15px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    a {
      position: relative;
      display: block;
    }
  }
}
