.footer {
  background-color: $grey;
  margin-top: 198px;
  padding-top: 30px;
  padding-bottom: 47px;

  &__nav-list {
    @include list-reset;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__copyright {
    margin-right: 150px;
  }

  &__copyright-text {
    color: $white;
    margin-bottom: 0;
    letter-spacing: 0.3px;
  }

  &__email {
    margin: 0;

    a {
      color: $white;
      letter-spacing: 0.3px;
    }
  }

  &__nav-item {
    line-height: 26px;

    a {
      display: block;
      color: $white;
      margin-right: auto;
      text-decoration: underline;
      letter-spacing: 0.3px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__nav {
    margin-top: 13px;
  }
}
