.header {
  &__contacts-item {
    @include list-reset;

    a {
      font-family: "Open Sans Condensed", 'Arial', sans-serif;
      font-size: 40px;
      line-height: 46px;
      font-weight: 300;
      color: $grey-light;
    }
  }

  &__feedback {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 24px;
    line-height: 46px;
    font-weight: bold;
    color: $grey-light;
    border-bottom: 2px dashed $grey-light;
  }
}