.logo {
  &__company-name {
    font-family: "Myriad Pro", "Arial", sans-serif;
    font-size: 28px;
    line-height: 38px;
    font-weight: bold;
    color: $grey;
  }

  &__description {
    font-family: "Myriad Pro", "Arial", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: $grey;
  }

  &__link {
    display: block;
    margin-top: 29px;
    width: 273px;
    height: 100px
  }
}