.main-nav {
  background-color: $brown;

  &__list {
    @include list-reset;
  }

  &__list-item {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 46px;
    font-weight: normal;
    color: $white;
  }
}