.modal {
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  position: fixed;
  padding: 26px 64px;
  width: 468px;
  top: 228px;
  left: 50%;
  z-index: 2;
  margin-left: -220px;
  background-color: $white;

  &__close {
    position: absolute;
    border: 0;
    width: 27px;
    height: 27px;
    top: -26px;
    right: -25px;
    background-color: $grey;

    &::before,
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 21px;
      height: 1px;
      top: 13px;
      left: 2px;
      background-color: $white;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0;
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #535353;
  }

  &__label {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #535353;
  }

  &__message {
    min-height: 136px;
    resize: none;
  }

  &__input {
    padding: 11px;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 14px;
  }

  &__input:invalid {
    box-shadow: inset 0 0 20px rgba(228, 106, 106, 0.75);
    border-width: 1px;
    border-color: rgba(228, 106, 106, 0.75);
  }

  &__submit {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 17px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17.77px;
    line-height: 18px;
    font-weight: bold;
    color: $white;
    text-transform: uppercase;
    background-color: $grey;
    border: 0;
  }

  &--opened {
    display: flex;
    animation: fade 0.5s ease-in-out;
    animation-fill-mode: both;
  }
}
